<ion-view view-title="Les animaux">
  <ion-content>
  <div class="choix_animaux">
        <div class="row">
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/chien.jpg"></div>
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/chat.jpg"></div>
        </div>
        <div class="row">
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/cheval.jpg"></div>
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/vache.jpg"></div>
        </div>
        <div class="row">
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/lapin.jpg"></div>
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/perroquet.jpg"></div>
        </div>
        <div class="row">
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/serpent.jpg"></div>
          <div class="col col-50"><img class="imgaccueil" ng-src="img/accueil/iguane.jpg"></div>
        </div>
    </div>
	
  </ion-content>
</ion-view>
