<ion-view view-title="Aide">
  <ion-content><!-- ng-controller="paiement"-->
    <div class="contenu_ajout_animal">
      <h4>AIDE</h4>
    </div>
    <div class="aide">
      <div class="row">
        <p>Pour votre sécurité et celle de votre animal, veuillez prendre connaissance des documents suivants en rapport avec la réglementation sur la saillie.</p>
      </div>
      <div class="row">
        <h4 class="aidetitle">La réglementation</h4>
      </div>
      <a href="img/aide/reglementation_saillie.pdf">
      <div class="row btnaide">
        <div class="col col-20 col-new-padding"><img ng-src="img/aide/file.png"></div>
        <div class="col col-80 col-new-padding"><p><b>Télécharger</b></br>le document</p></div>
      </div>
      </a>
      <div class="row">
        <h4 class="aidetitle">La déclaration de saillie</h4>
      </div>
      <a href="img/aide/certificat_saillie.pdf">
      <div class="row btnaide">
        <div class="col col-20 col-new-padding"><img ng-src="img/aide/file.png"></div>
        <div class="col col-80 col-new-padding"><p><b>Télécharger</b></br>le document</p></div>
      </div>
      </a>
      <div class="row">
        <h4 class="aidetitle">La SNPCC</h4>
      </div>
      <a href="https://www.snpcc.com/">
      <div class="row btnaide">
        <div class="col col-20 col-new-padding"><img ng-src="img/aide/web.png"></div>
        <div class="col col-80 col-new-padding"><p><b>Accéder</b></br>au site</p></div>
      </div>
      </a>
    </div>
  </ion-content>
</ion-view>
