<ion-view view-title="Ajout annonces">
  <ion-content>
    <div class="contenu_ajout_animal">
      <h4>DÉPOSER UNE ANNONCE</h4>
    
    
    <form class ="formanimal" g-submit="doLogin()">
      <div class="list">
      <label class="item item-input item-select">
			<div class="input-label">
				<img class="imgformtache" ng-src="img/icones_formulaires/nom_chien.png">
			  Choisir l'animal
			</div>
			<select>
			  <option>Médor</option>
			  <option selected>Sparky</option>
			  <option>Lucky</option>
			</select>
		</label>
		<label class="item item-input item-stacked-label">
			<img class="imgform" ng-src="img/icones_formulaires/prix.png">
			 <input class="special" type="number" name="prix" min="1" max="2000" placeholder="Prix">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
        <label class="item BorderLess">
          <button class="button button-block button-positive boutonForm" type="submit">AJOUTER L'ANNONCE</button>
        </label>
      </div>
      </div>
    </form>
  </ion-content>
</ion-view>
