<ion-view view-title="Ajout annonces">
  <ion-content>
    <div class="contenu_ajout_animal">
      <h4>DÉPOSER UN COMMENTAIRE</h4>
    
    
    <form class ="formanimal" g-submit="doLogin()">
      <div class="list">
		<label class="item item-input item-stacked-label">
			 <textarea placeholder="Commentaire"></textarea>
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
        <label class="item">
          <button class="button button-block button-positive boutons" type="submit">POSTER LE COMMENTAIRE</button>
        </label>
      </div>
      </div>
    </form>
  </ion-content>
</ion-view>
