<ion-view>
  <ion-content>
    <h4>AJOUTER UN ANIMAL</h4>
	<div class="row">
	  <div class="col col-33 uploadimg">
			<input type="file" name="file" id="file" class="inputfile" />
			<label for="file">+</label>
	  </div>
	  <div class="col col-33 uploadimg">+</div>
	  <div class="col col-33 uploadimg">+</div>
	</div>
	<form class ="formanimal" g-submit="doLogin()">
      <div class="list">
		<label class="item item-input item-stacked-label">
			<input type="text" placeholder="Nom">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-stacked-label">
			<span class="input-label">Date de naissance</span>
			<input type="date">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-stacked-label">
			 <input type="number" name="taille" min="20" max="205" placeholder="Taille">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-stacked-label">
			<input type="text" placeholder="Couleur du poil">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-stacked-label">
		<span class="input-label tache">Tâches</span>
		<label class="toggle toggle-assertive">
		   <input type="checkbox">
		   <div class="track">
			 <div class="handle"></div>
		   </div>
		</label>
		</label>
		<label class="item item-input item-stacked-label">
			<input type="text" placeholder="Couleur des tâches">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-stacked-label">
			<input type="file" placeholder="Pedigree">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-stacked-label">
			<input type="text" placeholder="Couleur des yeux">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
			  Caractère
			</div>
			<select>
			  <option>Blue</option>
			  <option selected>Green</option>
			  <option>Red</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
			  Race
			</div>
			<select>
			  <option>Blue</option>
			  <option selected>Green</option>
			  <option>Red</option>
			</select>
		</label>
		<label class="item item-input item-stacked-label">
			<input type="text" placeholder="Numéro de puce">
			<!-- <input type="text" ng-model="loginData.username">-->
		</label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">CONNEXION</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-view>
