<ion-view view-title="Ajout annonces">
  <ion-content>
    <div class="contenu_ajout_animal">
      <h4>DÉPOSER UNE ANNONCE</h4>
    
    
    <form class ="formanimal" ng-submit="addAnnonce(annonceA)" ng-controller="AppCtrl">
      <div class="list">
      <label class="item item-input item-select">
         <div class="input-label">
            <img class="imgformtache" ng-src="img/icones_formulaires/nom_chien.png">
           Animal
         </div>
         <select ng-model="annonceA.nomChien">
            <option value="">Choisir :</option>
            <option ng-repeat="c in listChien" value="{{ c.id }}">{{ c.nom }}</option>
         </select>
      </label>
        <label class="item item-input item-select">
           <div class="input-label">
              <img class="imgformtache" ng-src="img/icones_formulaires/nom_chien.png">
              Service proposé
           </div>
           <select ng-model="annonceA.serviceChien">
              <option value="">Choisir :</option>
              <option ng-repeat="s in listServices" value="{{ s.id }}">{{ s.type }}</option>
           </select>
        </label>
        <input type="hidden" value="{{ date | date: 'dd/MM/yyyy'}}"  ng-model="annonceA.dateCreationChien">
        <label class="item item-input item-stacked-label">
           <img class="imgform" ng-src="img/icones_formulaires/race.png">
           <input class="special" type="text" name="description" placeholder="Description" ng-model="annonceA.descriptionChien">
        </label>
      <label class="item item-input item-stacked-label">
         <img class="imgform" ng-src="img/icones_formulaires/prix.png">
          <input class="special" type="number" name="prix" min="1" max="2000" placeholder="Prix" ng-model="annonceA.prixChien">
      </label>
        <label class="item BorderLess">
          <button class="button button-block button-positive boutonForm" type="submit">AJOUTER L'ANNONCE</button>
        </label>
      </div>
      </div>
    </form>
  </ion-content>
</ion-view>
