<ion-view view-title="Choix">
  <ion-content>
  <div class="contenu_ajout_animal"></div>
    <a class="choixLink" href="#/app/recherche">
    	<div id="choix1" >
    		<h2>Trouver l'âme soeur</h2>
    	</div>
	</a>
    <a class="choixLink" href="#/app/ajout_animal">
    	<div id="choix2" >
    		<h2>Coeur à prendre</h2>
    	</div>
    </a>
    <a class="choixLink" href="#/app/ajout_annonce">
    	<div id="choix3" >
    		<h2>Créer un profil</h2>
    	</div>
  	</a>
  </ion-content>
</ion-view>
