<ion-view view-title="Détail animal">
  <ion-content>
    <div class="contenu_ajout_animal">
    <h4>MÉDOR</h4>
    </div>
    <div class="row rowdetailanimal" ng-controller="AppCtrl">
        <div class="slick-container">
            <slick
                    infinite=true
                    slides-to-show=1
                    slides-to-scroll=1
            >
                <div class="slick-item" ng-repeat="image in images">
                    <img src="{{ image.url }}" />
                </div>
            </slick>
        </div>
        <!--<div class="col coldetailanimal"><img ng-src="img/détail_animal/photo_chien1.jpg"></div>-->
    </div>
    <div class="row rowdetailanimal2">
        <div class="col  col-33 coldetailanimalicon borderright"><img ng-src="img/détail_animal/race.png">
        <p>Labrador</p>
        </div>
        <div class="col  col-33 coldetailanimalicon borderright"><img ng-src="img/détail_animal/date_naissance.png">
        <p>2 ans</p>
        </div>
        <div class="col  col-33 coldetailanimalicon"><img ng-src="img/détail_animal/taille.png">
        <p>58 cm</p>
        </div>
    </div>
    <div class="row rowdetailanimal2">
        <div class="col  col-33 coldetailanimalicon borderright bordertop"><img ng-src="img/détail_animal/couleur_du_poil.png">
        <p>Beige</p>
        </div>
        <div class="col  col-33 coldetailanimalicon borderright bordertop"><img ng-src="img/détail_animal/couleur_des_yeux.png">
        <p>Bleu</p>
        </div>
        <div class="col  col-33 coldetailanimalicon bordertop"><img ng-src="img/détail_animal/caractere.png">
        <p>Doux</p>
        </div>
    </div>
    <div class="description">
        <h3>Description</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ut consectetur augue. Sed mattis eleifend quam, et euismod nunc euismod sed. Phasellus sed faucibus nunc, eget auctor nulla. Suspendisse potenti. Nullam lorem leo, auctor quis velit nec, volutpat gravida nisi. Sed tincidunt leo nec diam tincidunt, at dignissim sapien egestas. Sed congue nibh id consequat maximus. Cras est urna, lacinia et semper at, vestibulum ut risus. Etiam fermentum nisi ac nibh tempus, eget placerat dui rhoncus. In in magna id nisl fermentum aliquet a sit amet justo. Nulla sed libero facilisis, feugiat felis vitae, iaculis turpis. Integer ut arcu sit amet massa auctor bibendum.<p>
    </div>
    <div class="row rowdetailavecicon">
        <div class="col col-10 coliconl col-new-padding"><img ng-src="img/détail_animal/geolocalisation.png"></div>
        <div class="col col-80 col-new-padding"><p>Localisation - 38km</p></div>
        <div class="col col-10 col-new-padding"></div>
    </div>
    <div class="row rowdetailavecicon">
        <div class="col col-10 coliconl col-new-padding"><img ng-src="img/détail_animal/bulles.png"></div>
        <div class="col col-70 col-new-padding"><p>Contacter le propriétaire</p></div>
        <div class="col col-10 coliconr col-new-padding"><img ng-src="img/détail_animal/fleche.png"></div>
         <div class="col col-10 col-new-padding"></div>
    </div>
    <div class="row rowdetailnote">
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star.png"></div>
        <div class="col col-50 col-new-padding"><p>4/5</p></div>
    </div>
  </ion-content>
</ion-view>
