<ion-view view-title="Détail annonce">
  <ion-content>
    <div class="contenu_ajout_animal">
    <h4>{{ annonceChien.idAnimal.nom }}</h4>
    </div>
      <ion-slides  options="options" slider="data.slider">
          <ion-slide-page>
              <div class="box blue"><img src="img/détail_animal/labrador1.jpg"/></div>
          </ion-slide-page>
          <ion-slide-page>
              <div class="box yellow"> <img src="img/détail_animal/labrador2.jpg"/></div>
          </ion-slide-page>
          <ion-slide-page>
              <div class="box pink"><img src="img/détail_animal/labrador3.jpg"/></div>
          </ion-slide-page>
      </ion-slides>
    <div class="row rowdetailanimal2">
        <div class="col  col-33 coldetailanimalicon borderright"><img ng-src="img/détail_animal/race.png">
        <p>{{ annonceChien.idAnimal.race.race }}</p>
        </div>
        <div class="col  col-33 coldetailanimalicon borderright"><img ng-src="img/détail_animal/date_naissance.png">
        <p>{{detailsChien.datenaissance | date:'dd/MM/yyyy'}}</p>
        </div>
        <div class="col  col-33 coldetailanimalicon"><img ng-src="img/détail_animal/taille.png">
        <p>{{detailsChien.taille}} cm</p>
        </div>
    </div>
    <div class="row rowdetailanimal2">
        <div class="col  col-33 coldetailanimalicon borderright bordertop"><img ng-src="img/détail_animal/couleur_du_poil.png">
        <p>{{detailsChien.couleur}}</p>
        </div>
        <div class="col  col-33 coldetailanimalicon borderright bordertop"><img ng-src="img/détail_animal/couleur_des_yeux.png">
        <p>{{detailsChien.couleuryeux}}</p>
        </div>
        <div class="col  col-33 coldetailanimalicon bordertop"><img ng-src="img/détail_animal/caractere.png">
        <p>{{detailsChien.caractere.caractere}}</p>
        </div>
    </div>
    <div class="description">
        <h3>Description</h3>
        <p>{{detailsannonceChien.description}}<p>
    </div>
    <div class="row rowdetailavecicon">
        <div class="col col-10 coliconl col-new-padding"><img ng-src="img/détail_animal/geolocalisation.png"></div>
        <div class="col col-80 col-new-padding"><p>Localisation - 38km</p></div>
        <div class="col col-10 col-new-padding"></div>
    </div>
    <div class="row rowdetailavecicon">
        <div class="col col-10 coliconl col-new-padding"><img ng-src="img/détail_animal/bulles.png"></div>
        <a class="choixLink" href="#/app/ajout_commentaire"><div class="col col-70 col-new-padding"><p>Contacter le propriétaire</p></div></a>
        <div class="col col-10 coliconr col-new-padding"><img ng-src="img/détail_animal/fleche.png"></div>
         <div class="col col-10 col-new-padding"></div>
    </div>
    <div class="row rowdetailnote">
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
        <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star.png"></div>
        <div class="col col-50 col-new-padding"><p>4/5</p></div>
    </div>
      <a class="choixLink" href="#/app/paiement"><div class="btnajoutpanier">
       <h3>{{detailsannonceChien.prix}}€</h3>
       <div class="row rowbtnajoutpanier rowBtnPanier">
              <div class="col-80 col-new-padding"><p>AJOUTER AU PANIER</p></div>
              <div class="col-20 col-new-padding"><img ng-src="img/icones_menu/panier.png"></div>
       </div>
      </div></a>
    <div class="commentaires">
        <h3>Commentaires</h3>
        <div class="comment" ng-repeat="c in commentsChien">
            <p class="nomcomment">{{c.idUser.prenom}} {{c.idUser.nom}}</p>
            <p class="textcomment">{{c.commentaire}}</p>
            <!--<div class="row rowdetailnote2">
            <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
            <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
            <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
            <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star_couleur.png"></div>
            <div class="col col-10 col-new-padding"><img ng-src="img/détail_animal/star.png"></div>
            <div class="col col-50 col-new-padding"><p>4/5</p></div>
            </div>-->
        </div>
    </div>
      <!--<a class="choixLink" href="#/app/ajout_commentaire">-->
         <!--<div class="button button-block button-positive btnform">-->
              <!--AJOUTER UN COMMENTAIRE-->
          <!--</div>-->
      <!--</a>-->
  </ion-content>
</ion-view>
