<ion-view view-title="Rechercher un chien">
  <ion-content>
     <div class="contenu_ajout_animal">
    <h4>RECHERCHE</h4>
    
   <form class ="formanimal" ng-submit="recherchePrecise(rechercheA)" ng-controller="AppCtrl">
      <div class="list">
      
      <!--<div class="container">-->
          <!--<div class="switch">-->
            <!--<input type="radio" class="switch-input" name="view" value="lof" id="week" checked>-->
            <!--<label for="week" class="switch-label switch-label-off">LOF</label>-->
            <!--<input type="radio" class="switch-input" name="view" value="nonlof" id="month">-->
            <!--<label for="month" class="switch-label switch-label-on">NON LOF</label>-->
            <!--<span class="switch-selection"></span>-->
          <!--</div>-->
      <!--</div>-->
      
      <label class="item item-input item-select">
         <div class="input-label">
            <img class="imgformtacheBis" ng-src="img/icones_formulaires/race.png">
           Race
         </div>
        <select ng-model="rechercheA.racerecherche">
           <option value="">Choisir :</option>
           <option ng-repeat="r in listRaces" value="{{ r.id }}">{{ r.race }}</option>
        </select>
      </label>
        <!--<label class="item item-input item-select">-->
           <!--<div class="input-label">-->
              <!--<img class="imgformtacheBis" ng-src="img/icones_formulaires/nom_chien.png">-->
              <!--Service-->
           <!--</div>-->
           <!--<select ng-model="annonceA.serviceChien">-->
              <!--<option value="">Choisir :</option>-->
              <!--<option ng-repeat="s in listServices" value="{{ s.id }}">{{ s.type }}</option>-->
           <!--</select>-->
        <!--</label>-->
      <!--<label class="item item-input item-stacked-label">-->
         <!--<img class="imgform" ng-src="img/icones_formulaires/date_naissance.png">-->
          <!--<input class="special" type="number" name="age" min="1" max="40" placeholder="Age">-->
         <!--&lt;!&ndash; <input type="text" ng-model="loginData.username">&ndash;&gt;-->
      <!--</label>-->
      <label class="item item-input item-stacked-label">
         <img class="imgform" ng-src="img/icones_formulaires/taille.png">
          <input class="special" type="number" name="taille" min="20" max="205" value="90" placeholder="Taille" ng-model="rechercheA.taillerecherche">
         <!-- <input type="text" ng-model="loginData.username">-->
      </label>
      <label class="item item-input item-stacked-label">
         <img class="imgform" ng-src="img/icones_formulaires/couleur_poils.png">
         <input class="special" type="text" placeholder="Couleur du poil" value="noire" ng-model="rechercheA.couleurrecherche">
         <!-- <input type="text" ng-model="loginData.username">-->
      </label>
      <label class="item item-input item-stacked-label">
      <span class="input-label tache"><img class="imgformtache" ng-src="img/icones_formulaires/tache.png">Tâches</span>
      <label class="toggle toggle-assertive">
         <input type="checkbox" ng-model="rechercheA.couleurtache" ng-true-value="1" ng-false-value="0">
         <div class="track">
          <div class="handle"></div>
         </div>
      </label>
      </label>
      <label class="item item-input item-stacked-label">
         <img class="imgform" ng-src="img/icones_formulaires/tache.png">
         <input class="special" type="text" placeholder="Couleur des tâches" ng-model="rechercheA.couleurtrecherche">
         <!-- <input type="text" ng-model="loginData.username">-->
      </label>
      <label class="item item-input item-stacked-label">
         <img class="imgform" ng-src="img/icones_formulaires/couleur_yeux.png">
         <input class="special" type="text" placeholder="Couleur des yeux" ng-model="rechercheA.couleuryrecherche">
         <!-- <input type="text" ng-model="loginData.username">-->
      </label>
      <label class="item item-input item-select">
         <div class="input-label">
            <img class="imgformtacheBis" ng-src="img/icones_formulaires/caractere.png">
           Caractère
         </div>
         <select ng-model="rechercheA.caractererecherche">
            <option value="">Choisir :</option>
            <option ng-repeat="c in listCaracteres" value="{{ c.id }}">{{ c.caractere }}</option>
         </select>
      </label>
        <!--<label class="item item-input item-stacked-label">-->
         <!--<img class="imgform" ng-src="img/icones_formulaires/prix.png">-->
          <!--<input class="special" type="number" name="prix" min="1" max="2000" placeholder="Prix">-->
         <!--&lt;!&ndash; <input type="text" ng-model="loginData.username">&ndash;&gt;-->
      <!--</label>-->
        <label class="item item-input item-stacked-label">
      <span class="input-label tache"><img class="imgformtache" ng-src="img/icones_formulaires/geolocalisation.png">Autour de moi</span>
      <label class="toggle toggle-assertive">
         <input type="checkbox">
         <div class="track">
          <div class="handle"></div>
         </div>
      </label>
      </label>
        <label class="item">
          <button class="button button-block button-positive boutons" type="submit">RECHERCHER</button>
        </label>
      </div>
      </div>
    </form>
  </ion-content>
</ion-view>
