<ion-view view-title="Historique">
<ion-content>
    <div class="row chien">
    	<div class="col-center col-30 chienImg">
			<img src="/img/mes_chiens/chien_1.jpg">
		</div>
		<div class="col col-5"></div>
		<div class="col-center col-50 chienInfos">
	   		<text class="nomChien">Médor</text>
			<br>   		
			<text class="labelChien">Date :</text> 12/12/2016
			<br>
			<text class="labelChien">Montant :</text> 250€
		</div>
		<div class="col-center col-10 consulterHistorique">
			<center><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></center>
		</div>
		<div class="col col-5"></div>
	</div>
   <div class="row chien">
    	<div class="col-center col-30 chienImg">
			<img src="/img/mes_chiens/chien_2.jpg">
		</div>
		<div class="col col-5"></div>
		<div class="col-center col-50 chienInfos">
	   		<text class="nomChien">Médor</text>
			<br>   		
			<text class="labelChien">Date :</text> 12/12/2016
			<br>
			<text class="labelChien">Montant :</text> 250€
		</div>
		<div class="col-center col-10 consulterHistorique">
			<center><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></center>
		</div>
		<div class="col col-5"></div>
	</div>
	<div class="row chien">
    	<div class="col-center col-30 chienImg">
			<img src="/img/mes_chiens/chien_3.jpg">
		</div>
		<div class="col col-5"></div>
		<div class="col-center col-50 chienInfos">
	   		<text class="nomChien">Médor</text>
			<br>   		
			<text class="labelChien">Date :</text> 12/12/2016
			<br>
			<text class="labelChien">Montant :</text> 250€
		</div>
		<div class="col-center col-10 consulterHistorique">
			<center><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></center>
		</div>
		<div class="col col-5"></div>
	</div>
	<div class="row chien">
    	<div class="col-center col-30 chienImg">
			<img src="/img/mes_chiens/chien_4.jpg">
		</div>
		<div class="col col-5"></div>
		<div class="col-center col-50 chienInfos">
	   		<text class="nomChien">Médor</text>
			<br>   		
			<text class="labelChien">Date :</text> 12/12/2016
			<br>
			<text class="labelChien">Montant :</text> 250€
		</div>
		<div class="col-center col-10 consulterHistorique">
			<center><a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></center>
		</div>
		<div class="col col-5"></div>
	</div>
  </ion-content>
</ion-view>
