<ion-view view-title="Inscription">
  <ion-content>
	<form class="formulairesApp">
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/utilisateur.png">
        <input type="text" placeholder="Nom">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/utilisateur.png">
        <input type="text" placeholder="Prénom">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/mail.png">
        <input type="text" placeholder="Email">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/cadenas.png">
        <input type="password" placeholder="Mot de passe">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/rue.png">
        <input type="text" placeholder="Rue">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/ville.png">
        <input type="text" placeholder="Ville">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/codepostal.png">
        <input type="text" placeholder="Code postal">
      </label>
      <label class="item item-input champsFormInscription">
        <img class="pictoProfil" src="/img/picto_user/telephone.png">
        <input type="text" placeholder="Téléphone">
      </label>
      <label class="item BorderLess">
        <button class="button button-block button-positive boutonForm" type="submit">S'inscrire</button>
      </label>
    </form>
  </ion-content>
</ion-view>
