<ion-view view-title="Login" id="loginView" >
  <ion-content >  
    <!-- logo -->
    <center>
      <div id="logoHome">
        <img src="img/logo/logo.png"/>
        <!-- typo -->
        <img src="img/logo/lettering.png"/>
      </div>
    </center>

    <!-- formulaire de connexion -->
      <div class="list loginForm">
        <form >
          <label class="item item-input champsFormLogin">
            <span class="input-label placeholderText">Mail</span>
            <input class="inputLogin" type="text" ng-model="loginData.usermail">
          </label>
          <label class="item item-input champsFormLogin">
            <span class="input-label placeholderText">Mot de passe</span>
            <input class="inputLogin" type="password" ng-model="loginData.userpwd">
          </label>
          <label class="item BorderLess boutonsLogin">
            <button ng-click="logIn($loginData)" ng-controller="AppCtrl" class="button button-block button-positive boutonForm" type="submit">Se connecter</button>
          </label>
        </form>
      </div>

    <div class="ou">
      <p align="center">OU</p>
    </div>
    <!--Lien vers le formulaire d'inscription -->
    <label class="item BorderLess inscriptionButton">       
      <a style="text-decoration : none;" href="#/app/inscription"><button class="button button-block button-positive boutonForm">S'inscrire</button></a>
    </label>
    </form>

    <!-- Mot de passe oublié -->
    <!--<div class="hide-on-keyboard-open">  
      <div id="forgottenPwd">
        <center><a>Mot de passe oublié</a></center>
      </div>
    </div>-->
  </ion-content>
</ion-view>