<ion-view view-title="Login" id="loginView" hide-nav-bar="true">
  <ion-content>
    
    <!-- logo -->
    <center>
      <div id="logoHome">
        <img src="../img/logos/logo.png">
        <!-- typo -->
        <img src="../img/logos/lettering.png">
      </div>
    </center>

    <!-- formulaire de connexion -->
    <form ng-submit="doLogin()">
      <div class="list loginForm">
        <label class="item item-input" id="champTop">
          <span class="input-label">Login</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Mot de passe</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item boutonBorderLess" id="connexionButton">
          <button class="button button-block button-positive" type="submit">Se connecter</button>
        </label>
      </div>
    </form>
    
    <!--Lien vers le formulaire d'inscription -->
    <form ng-submit="">
      <div class="list insciption">
        <label class="item boutonBorderLess">
          <button class="button button-block button-positive" type="submit">S'inscrire</button>
        </label>
      </div>
    </form>

    <!-- Mot de passe oublié -->
    <div id="forgottenPwd">
      <a>Mot de passe oublié</a>
    </div>
  </ion-content>
</ion-view>
