<ion-view view-title="Mes annonces">
  <ion-content>
    <div class="contenu_ajout_animal">
      <h4>MES ANNONCES</h4>
    </div>
    
    <div class="row mesannonces">
        <div class="col col-50 colannonces">
            <img ng-src="img/mes_annonces/chien1.jpg">
            <p class="nomchien">Médor</p>
            <p class="infoschien">3 ans</p>
            <p class="infoschien">Labrador</p>
            <p class="infoschien">Lofté</p>
            <a href="#/app/detail_animal"><img class="imgplus" ng-src="img/mes_annonces/plus.png"></a>
        </div>
        <div class="col col-50 colannonces">
            <img ng-src="img/mes_annonces/chien2.jpg">
            <p class="nomchien">Sparky</p>
            <p class="infoschien">4 ans</p>
            <p class="infoschien">Labrador</p>
            <p class="infoschien">Non lofté</p>
            <img class="imgplus" ng-src="img/mes_annonces/plus.png">
        </div>
    </div>
     <div class="row mesannonces">
        <div class="col col-50 colannonces">
            <img ng-src="img/mes_annonces/chien3.jpg">
            <p class="nomchien">Marley</p>
            <p class="infoschien">6 ans</p>
            <p class="infoschien">Labrador</p>
            <p class="infoschien">Lofté</p>
            <img class="imgplus" ng-src="img/mes_annonces/plus.png">
        </div>
    </div>
  </ion-content>
</ion-view>
