<ion-view view-title="Mes annonces">
  <ion-content>
    <div class="contenu_ajout_animal">
      <h4>MES ANIMAUX</h4>
    </div>
    
    <!-- <div class="row mesannonces" col="2">
        <div class="col col-50 colannonces">
            <img ng-src="img/mes_annonces/chien1.jpg">
            <p class="nomchien">Médor</p>
            <p class="infoschien">3 ans</p>
            <p class="infoschien">Labrador</p>
            <p class="infoschien">Lofté</p>
            <a href="#/app/profil_chien"><img class="imgplus" ng-src="img/mes_chiens/edit.png"></a>
        </div>
        <div class="col col-50 colannonces">
            <img ng-src="img/mes_annonces/chien2.jpg">
            <p class="nomchien">Sparky</p>
            <p class="infoschien">4 ans</p>
            <p class="infoschien">Labrador</p>
            <p class="infoschien">Non lofté</p>
            <img class="imgplus" ng-src="img/mes_chiens/edit.png">
        </div>
    </div>
     <div class="row mesannonces">
        <div class="col col-50 colannonces">
            <img ng-src="img/mes_annonces/chien3.jpg">
            <p class="nomchien">Marley</p>
            <p class="infoschien">6 ans</p>
            <p class="infoschien">Labrador</p>
            <p class="infoschien">Lofté</p>
            <img class="imgplus" ng-src="img/mes_chiens/edit.png">
        </div>
    </div> -->

    <div ng-repeat="items in split_items" class="row mesannonces">
        <div class="col col-50 colannonces" ng-repeat="item in items">    
            <img ng-src="img/mes_annonces/chien{{ item.id }}.jpg">
            <p class="nomchien">{{ item.nom }}</p>
            <p class="infoschien">{{ item.datenaissance | date : 'dd/MM/yyyy' }}</p>
            <p class="infoschien">{{ item.race.race }}</p>
            <img class="imgplus" ng-src="img/mes_chiens/edit.png">
        </div>
    </div>

  </ion-content>
</ion-view>
