<ion-view view-title="Mon Profil">
  <ion-content>
    <div id="profil">  
      <center>
        <div class="profilPicture">
          <img src="/img/profil_user/profil.jpg">    
        </div>
      </center>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/utilisateur.png">
        <p>Dumoit</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/utilisateur.png">
        <p>Justine</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/cadenas.png">  
        <p id="passwordApp">○○○○○○</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/mail.png">
        <p>justine.dumoit@gmail.com</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/telephone.png">
        <p>04 71 06 05 08</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/rue.png">
        <p>6 Rue du Pont</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/codepostal.png">
        <p>69000</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
      <div class="item item-input champsProfil">
        <img class="pictoProfil" src="/img/picto_user/ville.png">
        <p>Lyon</p>
        <a class="modifier" href="#">Modifier</a>
      </div>
    </div>
  </ion-content>
</ion-view>
