<ion-view view-title="Paiement">
  <ion-content><!-- ng-controller="paiement"-->
   <div class="contenu_ajout_animal">
  <h4>PAIEMENT</h4>
  </div>
    <div class="paiement">
        <div class="row ligne-paiement">
          <div class="col col-50 col-new-padding"><p class="left">Total</p></div>
          <div class="col col-50 col-new-padding"><p class="right">855€</p></div>
        </div>
        <div class="row indications">
          <div class="col col-100 col-new-padding"><p>Sélectionnez un mode de paiement</p></div>
        </div>
       <div class="row ligne-paiement2" ng-model="show_carte" ng-click="show_carte=true">
          <div class="col col-50 col-new-padding"><p>Carte bancaire</p></div>
          <div class="col col-20 col-new-padding"><p><img class="icone-paiement" ng-src="img/paiement/visa.png"></p></div>
          <div class="col col-20 col-new-padding"><p><img class="icone-paiement" ng-src="img/paiement/cb.png"></p></div>
          <div class="col col-10 col-new-padding"><p><img class="icone-fleche" ng-src="img/paiement/fleche.png"></p></div>
        </div>
        <div ng-show="show_carte">
        <form class ="paimentform">
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <p class="textpaiement">Titulaire de la carte</p>
                    <input class="special" type="text" placeholder="Doit être conforme à la carte">
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <p class="textpaiement">Numéro de carte</p>
                    <input class="special" type="text" placeholder="1000 0000 0000 0000">
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <p class="textpaiement">Expire fin </p>
                    <input class="special" type="text" placeholder="MM/AA">
                </label>
            </div>
            <div class="list">
                <label class="item item-input item-stacked-label">
                    <p class="textpaiement">Code sécurité</p>
                    <input class="special" type="number" name="prix" min="100" max="999" placeholder="XXX">
                </label>
            </div>
            <div class="row btnenregistrercb">
                <div class="col-80 col-new-padding">
                    <label class="item item-input item-stacked-label">
                    <p class="textpaiement">Enregistrer ma carte bancaire</p>
                    </label>
                </div>
                <div class="col-20 col-new-padding">
                    <label class="toggle toggle-assertive">
                       <input type="checkbox">
                       <div class="track">
                         <div class="handle"></div>
                       </div>
                    </label>
                </div>   
            </div>
            <label class="item">
            <button class="button" type="submit">
                <div class="row btnpaypal">
                    <div class="col col-20 col-new-padding"><img ng-src="img/paiement/lock.png"></div>
                    <div class="col col-80 col-new-padding"><p>Payer 850€</p></div>
                </div>
            </button>
            </label>
        </form>
        </div>
        <div class="row ligne-paiement2" ng-model="show_paypal" ng-click="show_paypal=true">
          <div class="col col-50 col-new-padding"><p class="left">Paypal</p></div>
          <div class="col col-30 col-new-padding"><p><img class="icone-paiement" ng-src="img/paiement/paypal.png"></p></div>
          <div class="col col-10 col-new-padding"></div>
          <div class="col col-10 col-new-padding"><p><img class="icone-fleche" ng-src="img/paiement/fleche.png"></p></div>
        </div>
        <div class="row btnpaypal" ng-show="show_paypal">
            <div class="col col-20 col-new-padding"><img ng-src="img/paiement/lock.png"></div>
            <div class="col col-80 col-new-padding"><p>Accéder à </br>Paypal</p></div>
        </div>
    </div>
  </ion-content>
</ion-view>
