<ion-view view-title="Mon Profil">
    <ion-content>
        <div class="contenu_ajout_animal"></div>
        <div id="profil">
            <div class="item item-input champsProfil">
                <img class="pictoProfil2" src="img/icones_formulaires/taille.png">
                <p>Taille</p>
                <a class="modifier" href="#">Modifier</a>
            </div>
            <div class="item item-input champsProfil">
                <img class="pictoProfil2" src="img/icones_formulaires/nom_chien.png">
                <p>Photo principale</p>
                <a class="modifier" href="#">Modifier</a>
            </div>
        </div>
    </ion-content>
</ion-view>
