<ion-view view-title="Recherche">
  <ion-content>
   <div class="contenu_ajout_animal">
  <h4>RECHERCHER UN CHIEN</h4>
  </div>
    <div class="recherche_simplifiee link">
        <a class="choixLink" href="#/app/formulaire_recherche">
            <div class="row degrade-search">
              <div class="col col-40"><img ng-src="img/recherche-intuitive/icone-recherche.png"></div>
              <div class="col col-60"><p>RECHERCHE PRÉCISE</p></div>
            </div>
        </a>
        <form >
            <a href="#/app/resultat_recherche_categorie">
                <div class="row recherche" name="1">
                  <div id="recherchechien1" class="col col-100"><h2>CHIEN DE GARDE</h2></div>
                </div>
            </a>
            <a href="#/app/resultat_recherche_categorie">
               <div class="row recherche" name="2">
                  <div id="recherchechien2" class="col col-100"><h2>CHIEN DE CHASSE</h2></div>
                </div>
            </a>
            <a href="#/app/resultat_recherche_categorie">
                <div class="row recherche" name="3">
                  <div id="recherchechien3" class="col col-100"><h2>CHIEN DE BERGER</h2></div>
                </div>
            </a>
            <a href="#/app/resultat_recherche_categorie">
              <div class="row recherche" name="4">
                <div id="recherchechien4" class="col col-100"><h2>CHIEN DOMESTIQUE</h2></div>
              </div>
            </a>
        </form>
        <!--<div class="row">
          <div id="recherchechien4" class="col col-100"><h2>CHIEN DE COURSE</h2></div>
        </div>-->
    </div>
  </ion-content>
</ion-view>
