<ion-view view-title="Recherche">
  <ion-content>
   <div class="contenu_ajout_animal">
  <h4>RECHERCHER UN CHIEN</h4>
  </div>
    <div class="recherche_simplifiee">
        <div class="row degrade-search">
          <div class="col col-40"><img ng-src="../img/recherche-intuitive/icone-recherche.png"></div>
          <div class="col col-60"><p>RECHERCHE PRÉCISE</p></div>
        </div>
        <div class="row">
          <div class="col col-100"><img class="imgaccueil" ng-src="../img/recherche-intuitive/chien-garde.jpg"></div>
        </div>
       <div class="row">
          <div class="col col-100"><img class="imgaccueil" ng-src="../img/recherche-intuitive/chien-chasse.jpg"></div>
        </div>
        <div class="row">
          <div class="col col-100"><img class="imgaccueil" ng-src="../img/recherche-intuitive/chien-berger.jpg"></div>
        </div>
        <div class="row">
          <div class="col col-100"><img class="imgaccueil" ng-src="../img/recherche-intuitive/chien-course.jpg"></div>
        </div>
    </div>
  </ion-content>
</ion-view>
