<ion-view view-title="Les animaux">
    <ion-content>
        <div class="choix_animaux">
            <div class="row">
                <div class="col col-50"><a href="#/app/detail_annonces"><img class="imgaccueil" ng-src="img/img_recherche/1.jpg"></a></div>
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/2.jpg"></div>
            </div>
            <div class="row">
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/3.jpg"></div>
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/4.jpg"></div>
            </div>
            <div class="row">
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/5.jpg"></div>
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/6.jpg"></div>
            </div>
            <div class="row">
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/7.jpg"></div>
                <div class="col col-50"><img class="imgaccueil" ng-src="img/img_recherche/8.jpg"></div>
            </div>
        </div>

    </ion-content>
</ion-view>